:root {
    --white: #976ebd;
    --font: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


/* css for the slider */
.new-container{
    background: linear-gradient(180deg,#345aa4 -28.35%,rgba(63,0,156,0)153.96% ); 
    width:100%;
    height:70vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel{
    
    width:100%;
    height:100%;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;

}
.slider{
    color:white;
    font-family:'DM Sans',sans-serif ;
    display: flex;
    height:100%;
    width: 500%;
    flex-shrink: 0;
    transition: all 0.5s;
}
.slider section{
    flex-basis: 20%;
    width: 20%;
    flex-shrink: 0;
    flex: 1;
    display: flex;
}
.arrow{
    
    cursor: pointer;
}

.controls{
    width:100%;
    height: 100%;
    top: 50%;
    position:absolute;
    display: flex;
    justify-content: space-between;
}
.sliders{
    padding: 0  50px 0 50px;
    width:90%;
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    
    
}
.slider-img{
    /* mix-blend-mode: color-burn; */
  width:100%;
  height: 100%;
   object-fit:contain;
   
}
.slider-image{
    mix-blend-mode: color-burn;
    width:400px;
    height:400px;
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    
 
}
.slider-showcase{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.slider-info p{
    
    font-weight:500;
    font-size:25px;
    padding:1em 0;
}
.slider-info h1{
    font-weight:700;
    font-size: clamp(40px, 5vw, 50px);
    line-height: 1; 
}
.slider-info{

    display: flex;
    flex-direction: column;
    justify-content: center;

}

a{
    display: inline-block;
    text-decoration: none;
}
ul{
    margin:0;
    padding:0;
    list-style: none;
}
h1,p{
    margin:0;
}
.row{
    display: flex;
}

.shop-btn{
    font-size: 16px;
    font-weight:bold;
    margin-top: 50px;
    width:150px;
    padding: 15px 30px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(64, 104, 168);
}

/* css for the slider */

/* css for the navbar header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0.0, 0, .1);
    background-color: #976ebd; 
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span {
    color: var(--white)
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666
}

header .navbar a:hover {
    color: var(--white)
}

header .icons a {
    font-size: 2.5rem;
    color: #333;
    margin-right: 150px;
}

header .icons a:hover {
    color: var(--white)
}

header #toggler {
    display: none
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none
}

/* navbar slider  starts here*/
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;

}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

/* navbar slider end here*/
/* navbar header css end here */


/*section css starts here */
 .section {
    padding: 2rem 9%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    color: var(--white);
}

/* the about css starts here*/
.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}

.heading span {
    color: var(--white);
}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .image-container {
    flex: 1 1 40rem;
    position: relative;
}

.about .row .image-container img {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0.0, 0, .1);
    height: 100%;
    object-fit: cover;
}

.about .row .image-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #333;
}

.about .row .content p {
    font-size: 1.5rem;
    color: #999;
    padding-top: 1rem;
    line-height: 1.5;
}

/*the about css ends here*/

/* icons css start here */

.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icon{
background: #fff;
border: .1rem solid rgba(0,0, 0, .1);
padding: 2rem;
display: flex;
align-items: center;
flex: 1 1 25rem;
}
.icons-container .icon img{
    height: 5rem;
    margin-right: 2rem;
}
.icons-container .icon h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}
.icons-container .icon span{
    color: #555;
    font-size: 1.5rem;
}

/* icons css ends here */

/* products css starts here */

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box{
    flex:1 1 35rem;
    box-shadow:0 .5rem 1.5rem rgba(0,0, 0, .1);
    border-radius:.5rem;
    border: .1rem solid rgba(0,0, 0, .1);
    position: relative;

}
.products .box-container .box .discount{
    position: absolute;
    top: 1rem ;
    left: 1rem;
    padding: 7rem 1rem;
    font-size: 2rem;
    color: var(--white);
    background: rgba(255, 51, 153, 0.05);
    z-index: 1;
    border-radius: .5rem;
}
.products .box-container .box .image{
    display: flex;
    justify-content: center;
    align-items: center;
   position:relative;
   text-align:center;
   padding-top: 2rem;
   overflow:hidden;
}
.products .box-container .box .image img{
    height: 25rem; 
}
.products .box-container .box:hover .image img{
   transform: scale(1.1);
}
.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom: 0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background-color: var(--white);
    color: #fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}
.products .box-container .box .image .icons a:hover{
    background: #333;
}

.products .box-container .box .content{
    padding: 2rem;
    text-align: center;
}
.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: var(--white);
    font-weight: bolder;
    padding-top: 1rem;
}
.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    padding-top: 1rem;
    text-decoration: line-through;
}
/* products css ends here */

/* contact us css starts here*/

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}
.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0, 0, .1);
    border:.1rem solid rgba(0,0, 0, .1);
    background: #fff;
    border-radius: .5rem;
}
.contact .row .image{
    flex: 1 1 40rem;
}
.contact .row .image img{
   width: 100%;
}
.contact .row form .box{
    padding:1rem;
    font-size:1.7rem;
    color: #333;
    text-transform:none;
    border: .1rem solid rgba(0,0, 0, .1);
    border-radius:.5rem;
    margin:.7rem 0;
    width: 100%;
}
.contact .row form .box:focus{
border-color: var(--white);
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}

/* contact us css ends here */

/* footer css starts here */

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex: 1 1 25rem;

}

.footer .box-container .box h3{
   color: #333;
   font-size: 2.5rem;
   padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
 }

 .footer .box-container .box a:hover{
    color: var(--white);
    text-decoration: underline;
 }

 .footer .box-container .box img{ 
    margin-top: 1rem;
    height: 4rem;
 }
 .footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0, 0, .1);
 }

 .footer .credit span{
    color: var(--white);
 }


/*  footer css ends here */

/* cart css starts here */
.table-parent{
    width:100%;
   display:flex;
   justify-content:center;
   align-items: center;
   margin-top:50px;
   padding: 20px 100px;
}
.tableif-parent{
    width: 100%;
    display:flex;
    justify-content:space-between;
    
    
}
.table{
    padding: 20px;
    width:65%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.table-header{
    display: flex;
    justify-content: space-between;
    
}
.hr1{
    margin-bottom: 20px;
}
.header-right{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.table-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.content-left{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.cart-input{
    border: 1px solid black;
    width: 10%;
}
.cart-description{
    display: flex;
    align-items: center;
    padding: 10px;
}
.checkout{
    padding: 10px;
    font-size:12px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height:200px;
    width:300px;
}
.checkout-title{
    text-align: center;
}
.total{
    display: flex;
    justify-content: space-between;
    padding:0 50px;
}
.checkout-btn{
    display: flex;
    justify-content: space-between;
}
.check-btn{
    padding: 6px 8px;
    background: yellow;
    border-radius: 12px;
}
.check-btn span{
    margin-left: 4px;
}
.hr{
    content: "";
    height: 1px;
    background-color:rgba(0, 0, 0, .1);
}
.empty-parent{
    box-shadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding:40px;
    width:80vw;
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty{
    padding: 20px;
    height:400px;
    width: 400px;
    font-size: var(--font);
    font-size: 12px;
    font-weight: 600;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.empty p{
    padding:10px;
}
.start-shopping{
    margin-top: 20px;
    padding: 14px 14px;
    background-color: yellow;
    border-radius: 10px;
    font-size: 17px;
}
.emptyp1{
    font-size: 17px;
}
.emptycart{
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;

}

/*cart css ends here */

/* create product css starts here */

.test{
    padding: 50px;
}

/* create product css ends here */

/* order css starts here */
.order-detail{
    margin-top: 5rem;
}
/* order css ends here */

/* profile page css starts here */
.profile-page{
 margin-top: 6rem;
}
/* profile page css starts ends */


/* media queries  starts here*/
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }
}

@media (max-width:768px) {
    
    html .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0.0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0.0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;

    }

    .home .content span {
        font-size: 2.5rem;

    }
    .icons-container .icon h3{
        font-size: 2rem;
    }
    .icons-container .icon span{
        font-size: 1.7rem;
    }
    .table-parent{
        padding: 10px 10px;
    }
    .tableif-parent{
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .table{
    
        width: 100%;

    }
    .checkout{
        margin:5% 0;
        width: 100%;
    }
    .empty-parent{
        width: 100%;
    }

}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1110px){
    .slider-showcase{
        width:100%;
        height: 40%;
    }
    .sliders{
        display: flex;
        justify-content:space-between;
        align-items: center;

    }
    .slider-image{
        width:300px;
        height:300px;
    }
    .container{
        height: 100vh;
    }
    .slider-info{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width: 780px){
    .slider-info{
        width:100%;
        height: 40%;

    }
    
    .sliders{
        display: flex;
        justify-content:space-between;
        align-items: center;

    }
    
}

/*media queries ends here */